# Ignore documentation files
Documentations/

# Ignore pipeline information
defaultPipelineInfo/

# Ignore package directories
packages/

# Ignore third-party functions
ThirdPartyFunctions/

# Ignore old and test directories
old/
tests/

# Ignore autosave files
*.asv

# Ignore specific markdown file
TBD.md

# Ignore specific measurement datatype file
DependentFunctions/+Whisker/measurements_datatype.m

# Ignore Python cache files and directories
Python/__pycache__/
Python/d
Python/notebooks/d
Python/notebooks/images/
Python/test/

# Ignore specific Python cache files
Python/__pycache__/
Python/utils/__pycache__/

# Ignore slurm log directories
scripts/dlc/slurm_logs/
scripts/wt/slurm_logs/
scripts/slurm_logs/

# Ignore miscellaneous files/directory
d
*.npy
*.npz
*.png

# Ignore hidden files
scripts/utils/.env

# Ignore container files
scripts/containers/

